@font-face {
    font-family: 'pricedownblack';
    src: url('Files/pricedown_bl-webfont.woff2') format('woff2'),
         url('Files/pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#pre {
	position: fixed; 
	width: 100vw !important; 
	height: 100vh !important; 
	max-width: 100vw !important; 
	max-height: 100vh !important; 
	top: 0px;
	left: 0px; 
	margin: 0px !important;
	border-radius: 0px !important; 
	background: white; 
	transition: opacity 1s; 
	z-index: 9999999;
}

#pre_content {
	vertical-align: middle; 
	text-align: center; 
	width: 100%; 
	height: 100%;
}

#load1 {
	width: 50px; 
	height: 50px; 
	border-radius: 50%;
	border-left: 10px solid rgb(135,206,235); 
	border-top: 10px solid white; 
	border-right: 10px solid rgb(135,206,235); 
	border-bottom: 10px solid rgb(135,206,235); 
	left: 50%; 
	transition: all 0.2s; 
	margin-left:-36px; 
	position:relative; 
	padding:none;
}

body {
	padding: 0px; 
	margin: 0px; 
	background-color: #282828; 
	font-size: 100%; 
}

a {
	text-decoration: none !important; 
}

#banner {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: calc(100% - 40px); 
	height: auto; 
	padding: 20px; 
	color: white; 
	background: rgb(28, 28, 35); /*#F90;*/ 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";  
	font-size: 1.0em; 
	margin-bottom: 20px; 
	box-shadow: 0 0 10px #282828; 
}

.welcome {
	margin-top: 100px !important; 
	margin-bottom: -80px !important; 
	background-color: rgba(200,200,255,0.5) !important; 
	vertical-align: middle; 
	font: 48px "pricedownblack";	
	color: white; 
	text-shadow: 0px 0px 10px #282828;
	background-image: url("Files/shironoe1.png"); 
	background-size: auto calc(100% - 40px); 
	background-position: center; 
	background-repeat: no-repeat; 
	width: 70vw; 
	height: calc(15vh + 15vw); 
	margin-left: 15vw; 
	border-radius: 6px; 
}

.bg {
	position: fixed; 
	left: 0; 
	top: 0; 
	height: 100vh; 
	width: 100vw; 
	background-image: url("./Files/bg.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	z-index: -1; 
}

.content {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
	background-color: rgba(28,28,45,0.9); 
	padding: 20px; 
	width: calc(70vw - 40px); 
	margin-left: 15vw; 
	border-radius: 6px; 
	min-height: 50vh; 
	color: white; 
	margin-bottom: 20px;
	margin-top: 100px; 
}

.hidden {
	transition: height 1s; 
}

a {
	color: skyblue; /*#F90;*/ 
}

pre, code {
	width: 100%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding: 10px;
    margin: 15px 0;
    display: block;
    line-height: 1.25;
    background: #313547;
    border-radius: 6px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    overflow-x: auto;
    border: 1px solid #313547;
    color: #f8f8f2;
	overflow-x: auto; 
}

code {
	background: #272822 !important;
	border: 1px solid dimgray; 
}

.note {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    overflow-x: auto;
    border: 1px solid #313547;
    color: #f8f8f2;
	background: #FFAE35; /*rgba(135,206,235,0.6); /*#FFAE35;*/ 
}

.item {
	border: 1px solid dimgray; 
	border-radius: 5px; 
	margin: 5px !important; 
	margin-bottom: 15px !important; 
	display: inline-block; 
	width: calc(33% - 30px); 
	padding: 10px; 
	padding-top: 195px; 
	background-image: url("Files/bg.jpg"); 
	background-size: auto 190px; 
	background-repeat: repeat-x; 
	background-position: top center; 
	background-color: #282828; 
	box-shadow: 0 0 5px 1px #303030;
	transition: all 0.2s; 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun; 
	vertical-align: top; 
}

.item:hover {
	background-color: white; 
	color: lightgray; 
	font-weight: bolder; 
	font-size: 110%;
}

img {
	max-width: 60vw; 
	max-height: 60vh; 
	border-radius: 5px; 
}

h1, h2, h3 {
	font-weight: 700; 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun; 
}

.white { 
	width: auto !important;  
	display: inline-block !important; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    overflow-x: auto;
    border: 1px solid #282828;
    color: #282828;
	background: white; 
}

thead { 
	background: #F90; 
	border-radius: 5px 5px 0 0; 
}

.dark {
	background: #282835; 
}

table { 
	border: none; 
    background: #313547;
    border-radius: 5px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    color: #f8f8f2;
	margin-top:10px; 
	max-width: 70vw; 
}