body {
	padding: 0px; 
	margin: 0px; 
	background-color: #282828; 
	font-size: 100%; 
}

#banner {
	width: calc(100% - 40px); 
	height: auto; 
	padding: 20px; 
	color: white; 
	background: #F90; 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
	font-weight: bold; 
	margin-bottom: 20px; 
}

.content {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
	background: rgba(255,255,255,0.1); 
	padding: 20px; 
	width: calc(70vw - 40px); 
	margin-left: 15vw; 
	border-radius: 5px; 
	min-height: 50vh; 
	color: white; 
	margin-bottom: 20px;
}

a {
	color: #F90; 
}

pre {
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding: 10px;
    margin: 15px 0;
    display: block;
    line-height: 1.25;
    background: #2d3143;
    border-radius: 3px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    border: 1px solid #2d3143;
    color: #f8f8f2;
}

.note {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    overflow-x: auto;
    border: 1px solid #2d3143;
    color: #f8f8f2;
	background: #F90; /*#FFAE35;*/ 
}

table {
	border: none; 
}

img {
	max-width: 60vw; 
	max-height: 60vh; 
	border-radius: 5px; 
}

.white { 
	width: auto !important;  
	display: inline-block !important; 
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    overflow-x: auto;
    border: 1px solid #282828;
    color: #282828;
	background: white; 
}

thead { 
	background: #F90; 
	border-radius: 5px 5px 0 0; 
}

.dark {
	background: #282835; 
}

table { 
    background: #2d3143;
    border-radius: 5px;
    font-family: Courier, monospace, Consolas, "Liberation Mono", Menlo;
    color: #f8f8f2;
	margin-top:10px; 
	max-width: 70vw; 
}